{% extends 'base.html.twig' %}

{% block title %}Playlist index
{% endblock %}


{% block body %}
	<h1>Playlists publiées</h1>

	<a class="btn btn-success" href="{{ path('app_playlist_new') }}">Create new</a>

	<div class="row">
		{% for playlist in playlists|filter(p => p.published) -%}
			<div class="col-md-4">
				<div class="card">
					<div class="card-header">{{ playlist.name }}</div>
					<div class="card-body">
						<p class="card-text">{{ playlist.description }}</p>
					</div>
					<div class="card-footer">
						<a class="btn btn-sm btn-primary" href="{{ path('app_playlist_show', {'id': playlist.id}) }}">Show</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
