<ul>
	{% for movie in field.value %}
		<!-- Fetch the URL to the detail page of the movie -->
		{%- set url = ea_url()
            .setController('App\\Controller\\Admin\\MovieCrudController')
            .setAction('detail')
            .setEntityId(movie.id)
        -%}
		<li>
<a href="{{ url }}">{{ movie }}</a>


		</li>
{% else %}
	</ul>
	<span class="badge badge-secondary">Aucun film</span>
	<ul>
	{% endfor %}
</ul>
